%b The academic integrity policy at Case Western Reserve University does not work.

%p
  Academic integrity is the basis of the value of
  %em every degree
  given by Case Western.
  Without a strong belief in an institution's principles of academic integrity, employers, the community, and other academic institutions cannot trust that graduates are equipped with the skills they claim to possess.

.clearfix
  %h2 Why doesn't the academic integrity policy work?
  For a number of reasons:
  %ul
    %li Professors do not have the time, nor motivation, to pursue offenders.
    %li Students do not hold each other accountable for integrity.
    %li
      It is the exception, rather than the rule, for students to report each other for cheating.
      %em This is the cornerstone of an honor code, and a culture that CWRU desperately needs.
.clearfix
  %h2 How can we fix it?
  CWRU needs an honor code. [explain...]
